@font-face {
  font-family: "iconfont"; /* Project id 3224587 */
  src: url('//at.alicdn.com/t/font_3224587_67upqe4os6.woff2?t=1646556267273') format('woff2'),
       url('//at.alicdn.com/t/font_3224587_67upqe4os6.woff?t=1646556267273') format('woff'),
       url('//at.alicdn.com/t/font_3224587_67upqe4os6.ttf?t=1646556267273') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before {
  content: "\e600";
}

.icon-yanzhengma:before {
  content: "\e603";
}

.icon-denglu:before {
  content: "\e622";
}

.icon-denglu1:before {
  content: "\e611";
}

.icon-shoucang:before {
  content: "\e8b9";
}
.test{
  color: red;
}
